body{

    padding: 150px;
    border: solid black;
    margin: 75px;
}

.image-update{
    width: 5pc;

}

.thumbnail{

    width: 3pc;

}

.createcss{
    background: lightsteelblue;
    padding: 50px;
    border: solid black;
    margin: 75px;
}

.updatecss{
    background: lightsteelblue;
    padding: 100px;
    border: solid black;
    margin: 75px;

}